/************通用样式**************/
body{
	color: #000000;
	padding: 0;
	margin: 0;
}
a:hover{
	text-decoration: none;
}
ul,ol{
	list-style: none;
}


/************通用样式-end**********/
	/* 我的资料,订单列表样式 */
		.order_list{
				background: #FFFFFF;
				border-radius: 15px;
				box-shadow: 1px 3px 6px 3px rgb(232, 236, 241,0.7);
				margin-top: 3%;
				margin-bottom: 5%;
				}
	/* 底部固定栏Bottom_Bar */
		.Bottom_Bar_div{
			width:100%;
			height: 58px;
		}
  		#Bottom_Bar{
			z-index: 99;
  			height: 58px;
  			background-color: #FFFFFF;
  			position: fixed;
  			bottom: 0px;
  			width: 100%;
  			display: none;
  			
  		}
  		
  		#Bottom_Bar a{
  			text-align: center;
  			margin-top: 5px;
  			font-size: 0.875rem;
			color: #000000;
			text-decoration:none;
  		}
		
		.active{
			color: red;
		}
  	
  	/* 底部固定栏Bottom_Bar  end */
	
	
	/* 手机屏 */
  	@media screen and (max-width:575px){
  			#Bottom_Bar{display: block;}
	
	
  	/* 底部固定栏Bottom_Bar  end */
