/************通用样式**************/
body{
	color: #000000;
	padding: 0;
	margin: 0;
}
a:hover{
	text-decoration: none;
}
ul,ol{
	list-style: none;
}


/************通用样式-end**********/

	/* 底部固定栏Bottom_Bar */
  	
  		#Bottom_Bar{
			z-index: 99;
  			height: 58px;
  			background-color: #FFFFFF;
  			position: fixed;
  			bottom: 0px;
  			width: 100%;
  			display: none;
  			
  		}
  		
  		#Bottom_Bar a{
  			text-align: center;
  			margin-top: 5px;
  			font-size: 0.875rem;
			color: #000000;
			text-decoration:none;
  		}
		
		.active{
			color: red;
		}
  	
  	/* 底部固定栏Bottom_Bar  end */
	
	
	/* 手机屏 */
  	@media screen and (max-width:575px){
  			#Bottom_Bar{display: block;}
	
	
  	/* 底部固定栏Bottom_Bar  end */
